@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    ___ORIGINAL___                              ___ORIGINAL___
    color-scheme: light;                        color-scheme: dark;
    --nextui-background: 0 0% 100%;             --nextui-background: 0 0% 0%;
    --nextui-foreground-50: 0 0% 98%;           --nextui-foreground-50: 240 6% 10%;
    --nextui-foreground-100: 240 5% 96%;        --nextui-foreground-100: 240 4% 16%;
    --nextui-foreground-200: 240 6% 90%;        --nextui-foreground-200: 240 5% 26%;
    --nextui-foreground-300: 240 5% 84%;        --nextui-foreground-300: 240 5% 34%;
    --nextui-foreground-400: 240 5% 65%;        --nextui-foreground-400: 240 4% 46%;
    --nextui-foreground-500: 240 4% 46%;        --nextui-foreground-500: 240 5% 65%;
    --nextui-foreground-600: 240 5% 34%;        --nextui-foreground-600: 240 5% 84%;
    --nextui-foreground-700: 240 5% 26%;        --nextui-foreground-700: 240 6% 90%;
    --nextui-foreground-800: 240 4% 16%;        --nextui-foreground-800: 240 5% 96%;
    --nextui-foreground-900: 240 6% 10%;        --nextui-foreground-900: 0 0% 98%;
    --nextui-foreground: 202 24% 9%;            --nextui-foreground: 210 6% 93%;
    --nextui-divider: 0 0% 7%;                  --nextui-divider: 0 0% 100%;
    --nextui-divider-opacity: 0.15;             --nextui-divider-opacity: 0.15;
    --nextui-focus: 212 100% 47%;               --nextui-focus: 212 100% 47%;
    --nextui-overlay: 0 0% 0%;                  --nextui-overlay: 0 0% 0%;
    --nextui-content1: 0 0% 100%;               --nextui-content1: 240 6% 10%;
    --nextui-content1-foreground: 202 24% 9%;   --nextui-content1-foreground: 0 0% 98%;
    --nextui-content2: 240 5% 96%;              --nextui-content2: 240 4% 16%;
    --nextui-content2-foreground: 240 4% 16%;   --nextui-content2-foreground: 240 5% 96%;
    --nextui-content3: 240 6% 90%;              --nextui-content3: 240 5% 26%;
    --nextui-content3-foreground: 240 5% 26%;   --nextui-content3-foreground: 240 6% 90%;
    --nextui-content4: 240 5% 84%;              --nextui-content4: 240 5% 34%;
    --nextui-content4-foreground: 240 5% 34%;   --nextui-content4-foreground: 240 5% 84%;

    --nextui-default-50: 210 40% 98%;           --nextui-default-50: 240 6% 10%;
    --nextui-default-100: 210 40% 96.1%;        --nextui-default-100: 240 4% 16%;
    --nextui-default-200: 214.3 31.8% 91.4%;    --nextui-default-200: 240 5% 26%;
    --nextui-default-300: 212.7 26.8% 83.9%;    --nextui-default-300: 240 5% 34%;
    --nextui-default-400: 215 20.2% 65.1%;      --nextui-default-400: 240 4% 46%;
    --nextui-default-500: 215.4 16.3% 46.9%;    --nextui-default-500: 240 5% 65%;
    --nextui-default-600: 215.3 19.3% 34.5%;    --nextui-default-600: 240 5% 84%;
    --nextui-default-700: 215.3 25% 26.7%;      --nextui-default-700: 240 6% 90%;
    --nextui-default-800: 217.2 32.6% 17.5%;    --nextui-default-800: 240 5% 96%;
    --nextui-default-900: 222.2 47.4% 11.2%;    --nextui-default-900: 0 0% 98%;
    --nextui-default-foreground: 0 0% 0%;       --nextui-default-foreground: 0 0% 100%;
    --nextui-default: 240 5% 84%;               --nextui-default: 240 5% 26%;

  ######################################################################################
    color-scheme: light;
    --nextui-background: 204 100% 97.1%;
    --nextui-foreground-50: 204 100% 97.1%;
    --nextui-foreground-100: 204 93.8% 93.7%;
    --nextui-foreground-200: 200.6 94.4% 86.1%;
    --nextui-foreground-300: 199.4 95.5% 73.9%;
    --nextui-foreground-400: 198.4 93.2% 59.6%;
    --nextui-foreground-500: 198.6 88.7% 48.4%;
    --nextui-foreground-600: 200 4,98% 39.4%;
    --nextui-foreground-700: 201.3 96.3% 32.2%;
    --nextui-foreground-800: 201 90% 27.5%;
    --nextui-foreground-900: 202 80.3% 23.9%;
    --nextui-foreground: 204 80.2% 15.9%;
    --nextui-divider: 204 80.2% 15.9%;
    --nextui-divider-opacity: 0.15;
    --nextui-focus: 198.6 88.7% 48.4%;
    --nextui-overlay: 204 80.2% 15.9%;
    --nextui-content1: 0 0% 100%;
    --nextui-content1-foreground: 202 80.3% 23.9%;
    --nextui-content2: 204 93.8% 93.7%;
    --nextui-content2-foreground: 202 80.3% 23.9%;
    --nextui-content3: 204 93.8% 93.7%;
    --nextui-content3-foreground: 202 80.3% 23.9%;
    --nextui-content4: 204 93.8% 93.7%;
    --nextui-content4-foreground: 202 80.3% 23.9%;

    color-scheme: dark;
    --nextui-background: 204 80.2% 15.9%;
    --nextui-foreground-50: 202 80.3% 23.9%;
    --nextui-foreground-100: 201 90% 27.5%;
    --nextui-foreground-200: 201.3 96.3% 32.2%;
    --nextui-foreground-300: 200 4,98% 39.4%;
    --nextui-foreground-400: 198.6 88.7% 48.4%;
    --nextui-foreground-500: 198.4 93.2% 59.6%;
    --nextui-foreground-600: 199.4 95.5% 73.9%;
    --nextui-foreground-700: 200.6 94.4% 86.1%;
    --nextui-foreground-800: 204 93.8% 93.7%;
    --nextui-foreground-900: 204 100% 97.1%;
    --nextui-foreground: 204 100% 97.1%;
    --nextui-divider: 204 100% 97.1%;
    --nextui-divider-opacity: 0.15;
    --nextui-focus: 198.4 93.2% 59.6%;
    --nextui-overlay: 204 100% 97.1%;
    --nextui-content1: 204 93.8% 93.7%;
    --nextui-content1-foreground: 204 93.8% 93.7%;
    --nextui-content2: 200.6 94.4% 86.1%;
    --nextui-content2-foreground: 202 80.3% 23.9%;
    --nextui-content3: 200.6 94.4% 86.1%;
    --nextui-content3-foreground: 202 80.3% 23.9%;
    --nextui-content4: 200.6 94.4% 86.1%;
    --nextui-content4-foreground: 202 80.3% 23.9%;


} */
:root {
  --foreground-rgb: 88, 95, 100;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

